body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 860px;
  margin: auto;
  height: 100%;
}

.page {
  background: #dfe3ee;
  height: calc(100vh - 60px);
}
